@model SklepData.Data.Shop.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdOfProduct" />
            <div class="form-group">
                <label asp-for="CodeOfProduct" class="control-label"></label>
                <input asp-for="CodeOfProduct" class="form-control" />
                <span asp-validation-for="CodeOfProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfProduct" class="control-label"></label>
                <input asp-for="NameOfProduct" class="form-control" />
                <span asp-validation-for="NameOfProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
