@model SklepData.Data.CMS.News;
@{
    ViewData["Title"] = "News";
}

<div class="container">
    <br><br>
    <h1 class="header center indigo-text">Wiadomości: @Model.Title</h1>
    <div class="row center">
        <h5 class="header col s12 light">
            @Model.Content
            <br />
            Data i godzina edycji: @DateTime.Now.ToString()
        </h5>
    </div>
    <div class="row center">
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" id="button" class="btn-large waves-effect waves-light indigo">Do sklepu</a>
    </div>
    <br><br>

</div>     