@using SklepData;
@using SklepData.Data;
@using SklepData.Data.CMS;

@{
        ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WITAJ<br/>
        Wybierz opcje z menu na górze</h1>
    
</div>
