@{
    ViewData["Title"] = "O naszej Firmie";
}

<div class="container">
    <br><br>
    <h1 class="header center indigo-text">Witaj w TwójSklep.pl<br/>
    Przeczytaj o nas</h1>
    <div align ="justify">
        <img src="~/images/workers.jpg" alt="Pracownicy" class="image1" width="200"/>
        <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer finibus arcu magna, a rhoncus neque vestibulum non. Cras elit massa, convallis id justo at, 
            fermentum suscipit nisl. Integer gravida nisl dui, id aliquam quam molestie ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Sed sed erat quis ligula ultrices faucibus ac quis nibh. Morbi dapibus dui et lacus interdum, a varius purus imperdiet. Maecenas laoreet mauris sed nisl
            accumsan porta. Nulla quam quam, fringilla eu erat sed, tincidunt dictum lacus. Suspendisse porta ac eros eu semper. Phasellus malesuada porttitor erat, quis cursus
            neque sollicitudin eget. Cras pellentesque augue eget purus lobortis, id sagittis quam pulvinar. Nulla id est molestie, malesuada lorem nec, aliquet massa. Integer
            dapibus efficitur lacus non convallis. Nullam congue tellus at sem vulputate, eget maximus eros ultricies. Phasellus consectetur vestibulum diam, nec pharetra libero
            gravida eleifend.
        </p>

        <p>Nunc velit elit, faucibus in augue ut, finibus interdum nulla. Vestibulum vel metus ullamcorper, porttitor massa id, pellentesque erat. Aenean ut ex eleifend, 
            lacinia lacus sed, finibus nunc. In diam urna, pulvinar sed viverra nec, dictum non libero. Duis condimentum arcu et hendrerit lacinia. Sed finibus dignissim diam 
            dictum varius. Nunc lacus magna, tempus ac aliquet sed, feugiat ut felis. Nulla vestibulum mi vel sem elementum, id facilisis arcu ullamcorper.
        </p>
        <img src="~/images/shop.jpg" alt="Siedziba" class="image2" width="200" />
        <p>Nunc velit elit, faucibus in augue ut, finibus interdum nulla. Vestibulum vel metus ullamcorper, porttitor massa id, pellentesque erat. 
            Aenean ut ex eleifend, lacinia lacus sed, finibus nunc. In diam urna, pulvinar sed viverra nec, dictum non libero. Duis condimentum arcu et hendrerit lacinia.
            Sed finibus dignissim diam dictum varius. Nunc lacus magna, tempus ac aliquet sed, feugiat ut felis. Nulla vestibulum mi vel sem elementum, 
            id facilisis arcu ullamcorper.
        </p>

        <p>Praesent ante eros, posuere pulvinar ultricies efficitur, ullamcorper vel purus. Pellentesque fringilla imperdiet mi id faucibus.
            Phasellus mattis arcu vitae laoreet lobortis. Vivamus imperdiet ut ligula sed varius. Nam vestibulum mi et turpis vehicula, non euismod orci luctus. 
            Morbi pulvinar condimentum dui. Sed auctor quam urna. Aenean pellentesque nec nulla sit amet ornare. Quisque tempor metus elit, ac ultrices neque posuere pharetra. 
            Morbi lacus leo, sollicitudin ac mattis ornare, efficitur et libero. In hac habitasse platea dictumst. In eros purus, pellentesque rutrum vestibulum sit amet, 
            tincidunt id tellus. Cras efficitur lobortis ipsum, sed dignissim tellus ullamcorper quis.
        </p>

        <p>Nam nisl nisi, rhoncus in lacus sed, commodo scelerisque nisl. Morbi vitae aliquam felis, vitae rhoncus massa. Vivamus eu lorem ornare, semper sapien eget, 
            mattis risus. Pellentesque vel lacus non turpis consequat rutrum vel sit amet augue. Praesent vehicula tincidunt cursus. Phasellus tempus mi quam, 
            non bibendum dui luctus et. Proin non tincidunt urna, vel vulputate erat. Vivamus ac tristique dolor. Integer iaculis, metus a feugiat molestie, 
            mauris ante convallis est, aliquet tristique erat metus non felis.
        </p>

    </div>
    <div class="row center">
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" id="button" class="btn-large waves-effect waves-light indigo">Do sklepu</a>
    </div>
    <br><br>

</div>     