@{
    ViewData["Title"] = "Contakt";
}

<div class="container">
    <br><br>
    <h1 class="header center indigo-text">TwójSklep.pl<br/>
        Skontaktuj się z nami.
    </h1>
    
    <div>
        <img src="~/images/helpdesk.jpg" alt="Pracownicy"  width="200" />
        <h4>Telefony:</h4>
        <p>Centrala: 700-123-456, 700-456-789</p>
        <p>Biuro Obsługi Klienta: 600-123-456, 600-456-789</p>
    <br><br>
    </div>     